@*Name: Daria Green*@
@*Email: Dgreen50@cnm.edu*@
@*Program: GreenComp6*@

@page "/services"
@using System.ComponentModel.DataAnnotations

<h1>E&D Marketing Services</h1>

<div class="row">
    <div class="col-md-4" style="text-align:center;">
        <img src="https://via.placeholder.com/300" alt="Financial Advice" class="img-fluid">
        <p>Image source: <a href="https://placeholder.com">Placeholder.com (Creative Commons)</a></p>
        <h3>Financial Advice</h3>
        <p>Wondering how to secure the best loan rates or optimize your tax burden? We’ve got you covered!</p>
    </div>
    <div class="col-md-4" style="text-align:center;">
        <img src="https://via.placeholder.com/300" alt="Freight Forwarding" class="img-fluid">
        <p>Image source: <a href="https://placeholder.com">Placeholder.com (Creative Commons)</a></p>
        <h3>Freight Forwarding</h3>
        <p>Never worry about payments again! We ensure your payments are secured before you ship your goods.</p>
    </div>
    <div class="col-md-4" style="text-align:center;">
        <img src="https://via.placeholder.com/300" alt="Inventory Accounting" class="img-fluid">
        <p>Image source: <a href="https://placeholder.com">Placeholder.com (Creative Commons)</a></p>
        <h3>Inventory Accounting</h3>
        <p>Manage your inventory with our world-class depreciation calculator application.</p>
    </div>
</div>

@code {

}
